PORT=5000
MONGO_URI=_your_mongodb_connection_string_
JWT_SECRET=_your_jwt_secret_
JWT_EXPIRES_IN=30d
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=_your_email_address_
SMTP_PASS=_your_email_password_
