PORT=5000
MONGO_URI=_your_mongodb_connection_string_
JWT_SECRET=_your_jwt_secret_
JWT_EXPIRES_IN=30d
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=_your_email_address_
SMTP_PASS=_your_email_password_
IMAGEKIT_PUBLIC_KEY=_your_imagekit_public_key_
IMAGEKIT_PRIVATE_KEY=_your_imagekit_private_key_
IMAGEKIT_URL_ENDPOINT=_your_imagekit_url_endpoint_
